# Pandas IO
> Pandas IO 就是读取数据写出数据相关的 `read`、`to`函数

## CSV 
### 读取
- 读取 csv 文件使用 `pd.read_csv()` 进行读取
- 参数
    - filepath_or_buffer :  文件地址,或者字符串
    - sep : 分割符号,默认`,` 如需使用`\t`制表符注意转义符
    - encoding : 编码类型
    - 其他参数详见 : [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)

In [3]:
import pandas as pd 
import os
path = os.path.abspath("../../test_data/to_csv.csv")
print(path)
df = pd.read_csv(path)
df

E:\pycharm_project\python_doc\test_data\to_csv.csv

   index_name  a  b  c  d
0           0  1  1  1  1
1           1  1  0  1  1
2           2  0  0  1  0
3           3  1  1  0  1
4           4  1  0  0  1
5           5  0  1  0  0

### 写出
- 通过 `df.to_csv()` 进行写出操作
- 参数
    - path_or_buf : 文件地址

In [ ]:
df.to_csv("test.csv")

## Json
### 读取
- 通过 `pd.read_json()` 进行读取
- 参数
    - path_or_buf : json 文件地址 , json 字符串
    - typ : 数据类型,候选值(`frame`,`series`)
    - 其他参数详见 : [pandas.read_json](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html#pandas.read_json)

In [7]:
json_str = """{"a":{"0":1,"1":1,"2":0,"3":1,"4":1,"5":0},"b":{"0":1,"1":0,"2":0,"3":1,"4":0,"5":1},"c":{"0":1,"1":1,"2":1,"3":0,"4":0,"5":0},"d":{"0":1,"1":1,"2":0,"3":1,"4":1,"5":0}}"""
df = pd.read_json(json_str)
df

   a  b  c  d
0  1  1  1  1
1  1  0  1  1
2  0  0  1  0
3  1  1  0  1
4  1  0  0  1
5  0  1  0  0

### 写出
- 通过 `df.to_json()` 进行写出操作

In [8]:
js = df.to_json()
js

'{"a":{"0":1,"1":1,"2":0,"3":1,"4":1,"5":0},"b":{"0":1,"1":0,"2":0,"3":1,"4":0,"5":1},"c":{"0":1,"1":1,"2":1,"3":0,"4":0,"5":0},"d":{"0":1,"1":1,"2":0,"3":1,"4":1,"5":0}}'

## sql
- 在读取\写出 sql 之前我们需要导入`sqlalchemy` 下面代码是创建`engine`作为 pandas 操作sql的一个参数(连接对象)

In [11]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')

engine = create_engine('mysql+mysqldb://scott:tiger@localhost/foo')

engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')

engine = create_engine('mssql+pyodbc://mydsn')

engine = create_engine('sqlite:///foo.db')

engine = create_engine('sqlite:////absolute/path/to/foo.db')

ModuleNotFoundError: No module named 'psycopg2'

### 读取

In [25]:
from pandas.io import sql
import sqlalchemy as sa
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:root@localhost/ds_0')
df = pd.read_sql(sa.text("SELECT * FROM user") , engine )
print(df)

     id  city       name
0  1001    上海        尹吉欢
1  1002    北京         张三
2  1003  jlkj  lkjljlkj2
3  1004  jlkj   lkjljlkj
4  1005   123        123

### 写出

In [30]:
df.to_sql("jc",engine)
df = pd.read_sql(sa.text("SELECT * FROM jc") , engine )
df

   index    id  city       name
0      0  1001    上海        尹吉欢
1      1  1002    北京         张三
2      2  1003  jlkj  lkjljlkj2
3      3  1004  jlkj   lkjljlkj
4      4  1005   123        123