# Pandas 值操作

## 插入列

In [88]:
import numpy as np
import pandas as pd

dates = pd.date_range('20190101', periods=8)
df = pd.DataFrame(np.random.randn(8,4), index=dates, columns=list('ABCD'))
print(df)
s=pd.Series(list(range(8)),index=dates)
df["F"]=s#新加一列元素F
df

                   A         B         C         D
2019-01-01 -1.952565 -0.346991  0.432286 -1.308904
2019-01-02  0.562992 -0.580958  0.419270 -0.041485
2019-01-03  0.106540  0.327909  2.029857  0.261376
2019-01-04 -0.425336  0.974958 -0.941665  0.307375
2019-01-05 -0.814198 -1.316026  0.103577 -0.438790
2019-01-06 -0.820058 -0.304832  0.682086  0.772544
2019-01-07  0.372620 -0.363099 -0.554190 -0.675426
2019-01-08 -1.461902  0.779040  2.170787  0.421297

                   A         B         C         D  F
2019-01-01 -1.952565 -0.346991  0.432286 -1.308904  0
2019-01-02  0.562992 -0.580958  0.419270 -0.041485  1
2019-01-03  0.106540  0.327909  2.029857  0.261376  2
2019-01-04 -0.425336  0.974958 -0.941665  0.307375  3
2019-01-05 -0.814198 -1.316026  0.103577 -0.438790  4
2019-01-06 -0.820058 -0.304832  0.682086  0.772544  5
2019-01-07  0.372620 -0.363099 -0.554190 -0.675426  6
2019-01-08 -1.461902  0.779040  2.170787  0.421297  7

## 指定位置插入列

In [89]:
print(df)
df.insert(4,'e',[1,2,3,4,5,6,7,8])
print(df)
df

                   A         B         C         D  F
2019-01-01 -1.952565 -0.346991  0.432286 -1.308904  0
2019-01-02  0.562992 -0.580958  0.419270 -0.041485  1
2019-01-03  0.106540  0.327909  2.029857  0.261376  2
2019-01-04 -0.425336  0.974958 -0.941665  0.307375  3
2019-01-05 -0.814198 -1.316026  0.103577 -0.438790  4
2019-01-06 -0.820058 -0.304832  0.682086  0.772544  5
2019-01-07  0.372620 -0.363099 -0.554190 -0.675426  6
2019-01-08 -1.461902  0.779040  2.170787  0.421297  7
                   A         B         C         D  e  F
2019-01-01 -1.952565 -0.346991  0.432286 -1.308904  1  0
2019-01-02  0.562992 -0.580958  0.419270 -0.041485  2  1
2019-01-03  0.106540  0.327909  2.029857  0.261376  3  2
2019-01-04 -0.425336  0.974958 -0.941665  0.307375  4  3
2019-01-05 -0.814198 -1.316026  0.103577 -0.438790  5  4
2019-01-06 -0.820058 -0.304832  0.682086  0.772544  6  5
2019-01-07  0.372620 -0.363099 -0.554190 -0.675426  7  6
2019-01-08 -1.461902  0.779040  2.170787  0.421297  8  7

                   A         B         C         D  e  F
2019-01-01 -1.952565 -0.346991  0.432286 -1.308904  1  0
2019-01-02  0.562992 -0.580958  0.419270 -0.041485  2  1
2019-01-03  0.106540  0.327909  2.029857  0.261376  3  2
2019-01-04 -0.425336  0.974958 -0.941665  0.307375  4  3
2019-01-05 -0.814198 -1.316026  0.103577 -0.438790  5  4
2019-01-06 -0.820058 -0.304832  0.682086  0.772544  6  5
2019-01-07  0.372620 -0.363099 -0.554190 -0.675426  7  6
2019-01-08 -1.461902  0.779040  2.170787  0.421297  8  7

## 插入行
- `DataFrame.append()` 方法
- `pandas.concat()` 方法

In [90]:
df2 = pd.DataFrame([[0,0,0,0,0]],columns=['A','B','C','D','F'])
print(df.append(df2,ignore_index=False))
print(df.append(df2,ignore_index=True))


print(pd.concat([df2,df2],ignore_index = True))
df

                            A         B         C         D  F    e
2019-01-01 00:00:00 -1.952565 -0.346991  0.432286 -1.308904  0  1.0
2019-01-02 00:00:00  0.562992 -0.580958  0.419270 -0.041485  1  2.0
2019-01-03 00:00:00  0.106540  0.327909  2.029857  0.261376  2  3.0
2019-01-04 00:00:00 -0.425336  0.974958 -0.941665  0.307375  3  4.0
2019-01-05 00:00:00 -0.814198 -1.316026  0.103577 -0.438790  4  5.0
2019-01-06 00:00:00 -0.820058 -0.304832  0.682086  0.772544  5  6.0
2019-01-07 00:00:00  0.372620 -0.363099 -0.554190 -0.675426  6  7.0
2019-01-08 00:00:00 -1.461902  0.779040  2.170787  0.421297  7  8.0
0                    0.000000  0.000000  0.000000  0.000000  0  NaN
          A         B         C         D  F    e
0 -1.952565 -0.346991  0.432286 -1.308904  0  1.0
1  0.562992 -0.580958  0.419270 -0.041485  1  2.0
2  0.106540  0.327909  2.029857  0.261376  2  3.0
3 -0.425336  0.974958 -0.941665  0.307375  3  4.0
4 -0.814198 -1.316026  0.103577 -0.438790  4  5.0
5 -0.820058 -0.304832  0.682086  0.772544  5  6.0
6  0.372620 -0.363099 -0.554190 -0.675426  6  7.0
7 -1.461902  0.779040  2.170787  0.421297  7  8.0
8  0.000000  0.000000  0.000000  0.000000  0  NaN
   A  B  C  D  F
0  0  0  0  0  0
1  0  0  0  0  0

                   A         B         C         D  e  F
2019-01-01 -1.952565 -0.346991  0.432286 -1.308904  1  0
2019-01-02  0.562992 -0.580958  0.419270 -0.041485  2  1
2019-01-03  0.106540  0.327909  2.029857  0.261376  3  2
2019-01-04 -0.425336  0.974958 -0.941665  0.307375  4  3
2019-01-05 -0.814198 -1.316026  0.103577 -0.438790  5  4
2019-01-06 -0.820058 -0.304832  0.682086  0.772544  6  5
2019-01-07  0.372620 -0.363099 -0.554190 -0.675426  7  6
2019-01-08 -1.461902  0.779040  2.170787  0.421297  8  7

## 删除列

In [91]:
print(df)
print(df.drop("A",axis=1,inplace=False))
df

                   A         B         C         D  e  F
2019-01-01 -1.952565 -0.346991  0.432286 -1.308904  1  0
2019-01-02  0.562992 -0.580958  0.419270 -0.041485  2  1
2019-01-03  0.106540  0.327909  2.029857  0.261376  3  2
2019-01-04 -0.425336  0.974958 -0.941665  0.307375  4  3
2019-01-05 -0.814198 -1.316026  0.103577 -0.438790  5  4
2019-01-06 -0.820058 -0.304832  0.682086  0.772544  6  5
2019-01-07  0.372620 -0.363099 -0.554190 -0.675426  7  6
2019-01-08 -1.461902  0.779040  2.170787  0.421297  8  7
                   B         C         D  e  F
2019-01-01 -0.346991  0.432286 -1.308904  1  0
2019-01-02 -0.580958  0.419270 -0.041485  2  1
2019-01-03  0.327909  2.029857  0.261376  3  2
2019-01-04  0.974958 -0.941665  0.307375  4  3
2019-01-05 -1.316026  0.103577 -0.438790  5  4
2019-01-06 -0.304832  0.682086  0.772544  6  5
2019-01-07 -0.363099 -0.554190 -0.675426  7  6
2019-01-08  0.779040  2.170787  0.421297  8  7

                   A         B         C         D  e  F
2019-01-01 -1.952565 -0.346991  0.432286 -1.308904  1  0
2019-01-02  0.562992 -0.580958  0.419270 -0.041485  2  1
2019-01-03  0.106540  0.327909  2.029857  0.261376  3  2
2019-01-04 -0.425336  0.974958 -0.941665  0.307375  4  3
2019-01-05 -0.814198 -1.316026  0.103577 -0.438790  5  4
2019-01-06 -0.820058 -0.304832  0.682086  0.772544  6  5
2019-01-07  0.372620 -0.363099 -0.554190 -0.675426  7  6
2019-01-08 -1.461902  0.779040  2.170787  0.421297  8  7

## 删除行
- `df.reset_index()`千万别忘记

In [92]:
print(df)
holiday_dataframe = df.reset_index()
holiday_dataframe.drop(3,axis=0,inplace=False)

                   A         B         C         D  e  F
2019-01-01 -1.952565 -0.346991  0.432286 -1.308904  1  0
2019-01-02  0.562992 -0.580958  0.419270 -0.041485  2  1
2019-01-03  0.106540  0.327909  2.029857  0.261376  3  2
2019-01-04 -0.425336  0.974958 -0.941665  0.307375  4  3
2019-01-05 -0.814198 -1.316026  0.103577 -0.438790  5  4
2019-01-06 -0.820058 -0.304832  0.682086  0.772544  6  5
2019-01-07  0.372620 -0.363099 -0.554190 -0.675426  7  6
2019-01-08 -1.461902  0.779040  2.170787  0.421297  8  7

       index         A         B         C         D  e  F
0 2019-01-01 -1.952565 -0.346991  0.432286 -1.308904  1  0
1 2019-01-02  0.562992 -0.580958  0.419270 -0.041485  2  1
2 2019-01-03  0.106540  0.327909  2.029857  0.261376  3  2
4 2019-01-05 -0.814198 -1.316026  0.103577 -0.438790  5  4
5 2019-01-06 -0.820058 -0.304832  0.682086  0.772544  6  5
6 2019-01-07  0.372620 -0.363099 -0.554190 -0.675426  7  6
7 2019-01-08 -1.461902  0.779040  2.170787  0.421297  8  7

## 修改单元格数据

In [95]:
df.iloc[2,2] = 123456
print(df)

                   A         B              C         D  e  F
2019-01-01 -1.952565 -0.346991       0.432286 -1.308904  1  0
2019-01-02  0.562992 -0.580958       0.419270 -0.041485  2  1
2019-01-03  0.106540  0.327909  123456.000000  0.261376  3  2
2019-01-04 -0.425336  0.974958      -0.941665  0.307375  4  3
2019-01-05 -0.814198 -1.316026       0.103577 -0.438790  5  4
2019-01-06 -0.820058 -0.304832       0.682086  0.772544  6  5
2019-01-07  0.372620 -0.363099      -0.554190 -0.675426  7  6
2019-01-08 -1.461902  0.779040       2.170787  0.421297  8  7