# Pandas 快速入门
## Pandas 是什么
> Pandas 是基于 NumPy 的一种工具，该工具是为了解决数据分析任务而创建的。

## 为什么用 Pandas
> 1. 数据分析工具
> 1. 支持数据类型多
## 安装
`pip install pandas`
## 核心
- Series
    - 一维数组，与Numpy中的一维array类似。二者与Python基本的数据结构List也很相近，其区别是：List中的元素可以是不同的数据类型，而Array和Series中则只允许存储相同的数据类型，这样可以更有效的使用内存，提高运算效率。

- DataFrame
    - 二维的表格型数据结构。很多功能与R中的data.frame类似。可以将DataFrame理解为Series的容器。以下的内容主要以DataFrame为主
## 简单案例
### Series 创建

In [23]:
import numpy as np
import pandas as pd 

s = pd.Series({"a":0,"b":np.nan,"c":np.inf})
s

a    0.0
b    NaN
c    inf
dtype: float64

In [24]:
pd.Series([0,1,2],index=["a","b","c"])

a    0
b    1
c    2
dtype: int64

In [25]:
pd.Series(1,index=["a","b","c"])

a    1
b    1
c    1
dtype: int64

### Series 访问

In [26]:
a = pd.Series([0,1,2],index=["a","b","c"])
print(a[0])

0

In [27]:
print(a[0:1])

a    0
dtype: int64

In [28]:
print(a["a"])

0

In [29]:
print(a.array)

<PandasArray>
[0, 1, 2]
Length: 3, dtype: int64

In [30]:
print("a" in s )

True

In [31]:
print(s[s>=1])

c    inf
dtype: float64

### DataFrame 创建

In [32]:
s1 = pd.Series([1,2,3,4],index=["a","b","c","d"])
s2 = pd.Series([4,5,6,7],index=["a","b","e","f"])

df = pd.DataFrame({"c1":s1,"c2":s2})
df

    c1   c2
a  1.0  4.0
b  2.0  5.0
c  3.0  NaN
d  4.0  NaN
e  NaN  6.0
f  NaN  7.0

In [33]:
l1 = [11, 12, 13]
l2 = [21, 22, 23]
l3 = [31, 32, 33, 34]
df = pd.DataFrame([l1,l2,l3], dtype='int32')
df

    0   1   2     3
0  11  12  13   NaN
1  21  22  23   NaN
2  31  32  33  34.0

### DataFrame 访问

In [36]:
s1 = pd.Series([1,2,3,4],index=["a","b","c","d"])
s2 = pd.Series([4,5,6,7],index=["a","b","e","f"])

df = pd.DataFrame({"c1":s1,"c2":s2})

In [46]:
df.loc['a']

c1    1.0
c2    4.0
Name: a, dtype: float64

In [40]:
df.iloc[0]

c1    1.0
c2    4.0
Name: a, dtype: float64

In [39]:
df[1:2]

    c1   c2
b  2.0  5.0